/* Link styles */
.no-underline-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Ensure link color matches surrounding text */
}

.no-underline-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Navigation link */
.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Card styles */
.card-header {
  background-color: #f8f9fa;
}

.card-body {
  padding: 20px;
}

/* Section margin */
section {
  margin-bottom: 20px;
}

/* Header styles */
.header-container {
  background-color: #007bff; /* Primary color */
  color: #ffffff;
  border-bottom: 1px solid #0056b3; /* Darker shade for border */
  padding: 1rem;
}

.header-container h1 {
  font-size: 1.5rem;
  margin: 0;
}

/* About Us styles */
.about-us-container,
.about-us {
  background-color: lightsteelblue; /* Light gray background for consistency */
  color: #343a40; /* Dark text color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 2rem;
}

.about-us-container h2,
.about-us h2 {
  color: #007bff; /* Primary color */
  font-size: 1.5rem;
}

.about-us-container p,
.about-us p {
  font-size: 1rem;
  line-height: 1.5;
}

.about-us-container a,
.about-us a {
  color: #007bff; /* Primary color */
  text-decoration: none;
}

.about-us-container a:hover,
.about-us a:hover {
  text-decoration: underline;
}

.user-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.user-info-card {
  border: 1px solid #007bff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

h4 {
  margin-top: 20px;
  color: #007bff;
}

.list-group-item {
  padding: 10px 20px;
  border-color: #007bff;
  margin-bottom: 10px;
  border-radius: 4px;
}
